@model Site.Admin2.ViewModels.UserVM

<div id="page-outer-container" class="col-md-12">
    <div class="col-md-3"></div>
    <div id="page-inner-container" class="col-md-6">
        <h1>Delete user</h1>
        <hr>
        @using (Html.BeginForm("Delete", "User", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id)
            <p>Are you sure you want to delete the user @Model.Username?</p>

            <div id="buttons-container" class="col-md-12">
                @Html.ActionLink("Back", "Index", "User", new{}, new { @class = "btn"})
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        }
    </div>
    <div class="col-md-3"></div>
</div>