/*
    Style changes applied on top of bootstrap styling for costmetic improvements.
    TODO: Consider using less CSS precompiler if appropriate.
*/

button i {
    margin-right: 10px;
}

.panel-heading h1,h2,h3,h4,h5,h6 {
    display: inline;
}

.panel-heading i {
     margin-right: 10px;
}

.panel-heading button {
    float: right;
    font-size: larger;
    line-height: 10px;
}

div.no-content {
    text-align: center;
    margin: 80px;
}