@model Common.Dto.LoginCredentials

<div id="page-outer-container" class="col-md-12">

    <div class="col-md-3"></div>
    <div id="page-inner-container" class="col-md-6">

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        <h1>Log in</h1>
        <br />

        <h4>Username</h4>
        @Html.TextBoxFor(x => x.Username, new { @class="form-control" })


        <h4>Password</h4>
        @Html.TextBoxFor(x => x.Password, new { @class="form-control" })

        <br />
        <button type="submit" class="btn btn-primary">Log in</button>
    }

    </div>
    <div class="col-md-3"></div>
</div>